<div class="container mt-4">
  <h2>Competitions</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Number of Participants</th>
          <th>Location</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngF="let element of dataSource">
          <td>{{ element.code }}</td>
          <td>{{ element.date }}</td>
          <td>{{ element.startTime }}</td>
          <td>{{ element.endTime }}</td>
          <td>{{ element.numberOfParticipants }}</td>
          <td>{{ element.location }}</td>
          <td>{{ element.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
